{% case incident.type %}
  {% when 'minor' %}
     {% capture type %}{% t 'services_status.minor' %}{% endcapture %}
  {% when 'major' %}
    {% capture type %}{% t 'services_status.major' %}{% endcapture %}
  {% when 'scheduled' %}
    {% capture type %}{% t 'services_status.maintenance' %}{% endcapture %}
  {% else %}
    {% capture type %}{% t 'services_status.operational' %}{% endcapture %}
{% endcase %}
<!-- container-fluid -->
<div class="container-fluid">
  {% include 'shared/_header' %}

  <main role="main">
    <div class="container incident--full-page">
      <h1 class="incident-title">
        {% capture from_str %}{% t 'incident.from' %}{% endcapture %}
        {% capture to_str %}{% t 'incident.to' %}{% endcapture %}
        {{ incident.title }}
        {% if incident.type == 'scheduled' %}
          {{ from_str | downcase }} {{ incident.starts_at }}
          {% if incident.ends_at %}
            {{ to_str | downcase }} {{ incident.ends_at }}
          {% endif %}
        {% endif %}
      </h1>
      <span class="incident--type-name-tag status-type-{{incident.type}}">{{type}}</span>

      <div class="incident--header">
        <div class="incident--services">
          {% for service in incident.services %}
            <span class="incident--service">{{ service.name }}</span>
          {% endfor %}
        </div>

        {% if incident.time_elapsed %}
          <span class="incident--time-elapsed pull-right">
            {{ incident.time_elapsed }}
          </span>
        {% endif %}
      </div>

      <hr>

      <h3 class="text-muted">{% t 'incident.update.label' %}</h3>

      <div class="activities">
        {% for activity in incident.incident_activities %}
        <div class="activity">
          <span class="activity--type">
            {% assign t_key = "incident.update.types." | append: activity.activity_type.key %}
            {% t t_key %}
          </span>
          <div class="activity--description markdown">{{ activity.description }}</div>
          <span class="activity--date">
            {{ activity.inserted_at }}
          </span>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
</div>
<!-- /container-fluid -->

{% include 'shared/_footer' %}
