{% case incident.type %}
  {% when 'minor' %}
     {% capture type %}{% t 'services_status.minor' %}{% endcapture %}
  {% when 'major' %}
    {% capture type %}{% t 'services_status.major' %}{% endcapture %}
  {% when 'scheduled' %}
    {% capture type %}{% t 'services_status.maintenance' %}{% endcapture %}
  {% else %}
    {% capture type %}{% t 'services_status.operational' %}{% endcapture %}
{% endcase %}
<a class="card incident status-type-{{ incident.type }}"
  href="{{ incident.url | url }}">
  <div class="status-column"></div>
  <div class="incident--details-column">
    <div class="incident--title">
      <span class="incident--type-name-tag status-type-{{ incident.type }}">
        {{type}}
      </span>
      {% capture from_str %}{% t 'incident.from' %}{% endcapture %}
      {% capture to_str %}{% t 'incident.to' %}{% endcapture %}
      {{ incident.title }}
      {% if incident.type == 'scheduled' %}
        {{ from_str | downcase }} {{ incident.starts_at }}
        {% if incident.ends_at %}
          {{ to_str | downcase }} {{ incident.ends_at }}
        {% endif %}
      {% endif %}
    </div>
    <div class="incident--current-status markdown">
      <span>[{{incident.current_status.activity_type.name}}]</span> {{ incident.current_status.description }}
    </div>
    <div class="incident--footer">
      <div class="incident--services" title="Services affected by this incident">
        {% for service in incident.services %}
          <span class="incident--service">{{ service.name }}</span>
        {% endfor %}
      </div>
      <div class="incident--posted-at">
        {% t 'incident.posted_at' %} {{ incident.updated_at }}
      </div>
    </div>
  </div>
</a>
