<!doctype html>
<html>
  <head>
    <title>{{ name }} Status</title>
  </head>
  <body class="status-page">
    <div class="container-fluid">
      <div class="header" style="background: linear-gradient(to right, {{ design.header_bg_color1  }}, {{ design.header_bg_color2  }});">
        <div class="container">
          <div class="brand-name-container">
            <a href="{{ home_url }}" class="brand-name">
              {% if design.logo %}<img src="{{ design.logo }}" alt="{{ name }} Logo" style="height: 30px">{% endif %}
              {{ name }} Status
            </a>
          </div>
          <a href="#" class="subscribe">Subscribe</a>
        </div>
      </div>

      <p class="alert alert-info" role="alert">{{ info }}</p>
      <p class="alert alert-danger" role="alert">{{ error }}</p>

      <main role="main">
        <div class="container">
          {% include 'status_page', incidents: incidents, services: services, incidents_url: incidents_url %}
        </div>
      </main>
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <a href="{{ url }}">{{ name }}</a>
        <a href="http://statuspal.io" class="pull-right" target="_blank">Powered by Statuspal.io</a>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal subscribe-modal">
      <div class="modal-header">
        <h3>Subscribe for notifications</h3>
      </div>
      <div class="modal-body">
        <form action="{{ subscribe_url }}" method="post">
          <input type="hidden" value="{{ token }}" name="_csrf_token"/>
          <div class="left">
            <input type="email" name="subscription[email]" required autofocus="true" placeholder="E-Mail">
          </div>
          <div class="right">
            <input type="submit" value="Subscribe">
          </div>
        </form>
      </div>
    </div>
    <div class="modal-backdrop"></div>
    <!-- /Modal -->

    <script>
      window.statusPageRoot = '{{ home_url }}';
      window.resourceBaseUrl = '{{ js_base_url }}';
      window.incidents = {{ uptime_history | json }};
    </script>
    <script src="{{ js_url }}"></script>
  </body>
</html>
