<!-- container-fluid -->
<div class="container-fluid">
  {% include 'shared/_header' %}

  <main role="main">
    <div class="container">
      {% if incidents.size == 0 %}
        <div class="system-status no-incidents">All Systems Operational</div>
      {% else %}
        <div class="system-status with-incidents">
          There {% if incidents.size > 1 %}are{% else %}is an{% endif %} ongoing Incident{% if incidents.size > 1 %}s{% endif %}
        </div>
      {% endif %}

      <div class="services-status">
        {% for _service in services %}
          {% include 'status_page/_service', service: _service %}
        {% endfor %}
      </div>

      {% if incidents.size == 0 %}
        <br>
        <br>
      {% endif %}

      <!-- Current incidents -->

      {% if incidents.size > 0 %}
        <br>
        <h4 class="text-muted">Current Incidents</h4>
        <hr>

        {% for incident in incidents %}
          {% include 'status_page/_incident', incident: incident %}
        {% endfor %}
      {% endif %}

      <!-- Future maintenances -->

      {% if maintenances.size > 0 %}
        <br>
        <h4 class="text-muted">Scheduled Maintenances</h4>
        <hr>

        {% for incident in maintenances %}
          {% include 'status_page/_incident', incident: incident %}
        {% endfor %}
      {% endif %}

      <!-- Past incidents -->

      {% if past_incidents.size > 0 %}
        <br>
        <h4 class="text-muted">Past Incidents</h4>
        <hr>

        {% for incident in past_incidents %}
          {% include 'status_page/_incident', incident: incident %}
        {% endfor %}
      {% endif %}

      {% if design.display_uptime_graph %}
        <div class="incidents-history-graph">
          <span class="uptime">{{ uptime }}% Uptime</span>
          <div class="segments"><!-- content goes here --></div>
          <div class="time-legends">
            <span>60 days ago</span>
            <span>Today</span>
          </div>
        </div>
      {% endif %}

      <div class="metrics"></div>

      <a href="{{ incidents_url | url }}" class="previous-incidents pull-right">Incidents Archive</a>

    </div>
  </main>
</div>
<!-- /container-fluid -->

{% include 'shared/_footer' %}

<script>
  window.statusPageRoot = '{{ home_url }}';
  window.resourceBaseUrl = '{{ js_base_url }}';
  window.incidents = {{ uptime_history | json }};
</script>
