<!-- container-fluid -->
<div class="container-fluid">
  {% include 'shared/_header' %}

  <main role="main status-page">
    <div class="container">


      <div class="system-status type-{{ current_incident_type }}">
        {% if current_incident_type == "none" %}
          {% t 'overall_status.operational' %}
        {% else %}
          {% if incidents.size == 1 %}
            {% if current_incident_type == "scheduled" %}
              {% t 'overall_status.maintenance_singular' %}
            {% else %}
              {% t 'overall_status.issue_singular' %}
            {% endif %}
          {% else %}
            {% if current_incident_type == "scheduled" %}
              {% t 'overall_status.maintenance_plural' %}
            {% else %}
              {% t 'overall_status.issue_plural' %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>

      {% if design.display_about or design.support_email %}
      <div class="row about">
        {% if design.display_about %}
          {% t 'about' %}.
        {% endif %}

        {% if design.support_email %}
          <div class="contact-support">
            {% t 'contact_us' %}
            <a href="mailto:{{ design.support_email }}?subject=Report Incident">
              {{ design.support_email }}</a>.
          </div>
        {% endif %}
      </div>
      {% endif %}

      <div class="services-status">
        {% for _service in services %}
          {% include 'status_page/_service', service: _service %}
        {% endfor %}
      </div>

      <div class="incidents-container">
        <!-- Current incidents -->
        {% if incidents.size > 0 %}
        <div class="row">
          <h4 class="text-muted">{% t 'current_incidents' %}</h4>
          <hr>
          {% for incident in incidents %}
            {% include 'status_page/_incident', incident: incident %}
          {% endfor %}
        </div>
        {% endif %}
        <!-- /Current incidents -->

        <!-- Future maintenances -->
        {% if maintenances.size > 0 %}
        <div class="row">
          <h4 class="text-muted">{% t 'scheduled_maintenances' %}</h4>
          <hr>

          {% for incident in maintenances %}
            {% include 'status_page/_incident', incident: incident %}
          {% endfor %}
        </div>
        {% endif %}
        <!-- /Future maintenances -->

        <!-- Past incidents -->
        {% if past_incidents.size > 0 %}
        <div class="row">
          <h4 class="text-muted">{% t 'past_incidents' %}</h4>
          <hr>

          {% for incident in past_incidents %}
            {% include 'status_page/_incident', incident: incident %}
          {% endfor %}
        </div>
        {% endif %}
        <!-- /Past incidents -->
      </div>

      {% if design.display_uptime_graph %}
        <div class="row o-hidden incidents-history-graph">
          <span class="uptime">{{ uptime }}% {% t 'uptime_graph.uptime' %}</span>
          <div class="segments"><!-- content goes here --></div>
          <div class="time-legends">
            <span>60 {% t 'uptime_graph.days_ago' %}</span>
            <span>{% t 'uptime_graph.today' %}</span>
          </div>
        </div>
      {% endif %}

      <div class="row metrics"></div>

      <a href="{{ incidents_url | url }}" class="previous-incidents pull-right">
        {% t 'incidents_archive' %}
      </a>
      <div class="auto-refresh-label">
        This page auto-refresh every 60 secs.
      </div>
    </div>
  </main>
</div>
<!-- /container-fluid -->

{% include 'shared/_footer' %}

<script>
  window.statusPageRoot = '{{ root_url }}';
  window.resourceBaseUrl = '{{ js_base_url }}';
  window.incidents = {{ uptime_history | json }};
  window.locale = '{{ locale }}';
  window.localization = {
    responseTimeChart: {{ localization.response_time_chart | json }},
    uptimeGraph: {{ localization.uptime_graph | json }}
  };
</script>
