<footer class="footer">
  <div class="container">
    <a href="{{ url }}">{{ name }}</a>
    {% if design.twitter_public_screen_name %}
      <a href="http://twitter.com/{{ design.twitter_public_screen_name }}" target="_blank">Twitter</a>
    {% endif %}
    {% if design.support_email %}
      <a href="mailto:{{ design.support_email }}">{% t 'support' %}</a>
    {% endif %}
    {% if langs.size > 1 %}
      <select id="lang" onchange="setLocale(this)">
        {% for lang in langs %}
          <option value="{{ lang.lang }}" {% if lang.lang == locale %}selected="selected"{% endif %}>
            {{ lang.title }}
          </option>
        {% endfor %}
      </select>
    {% endif %}
    <a href="http://statuspal.io" class="powered-by" target="_blank">{% t 'powered_by' %} Statuspal.io</a>
  </div>
</footer>

{% include 'shared/_modal' %}

<script>
  // Colors used by the uptime history chart.
  window.UPTIME_COLOR_MAJOR = '{% theme_color 'status_major_color' %}';
  window.UPTIME_COLOR_MINOR = '{% theme_color 'status_minor_color' %}';
  window.UPTIME_COLOR_OK = '{% theme_color 'status_ok_color' %}';
</script>
