<footer class="footer">
  <div class="container">
    <a href="{{ url }}">{{ name }}</a>
    <a href="http://statuspal.io" class="pull-right" target="_blank">Powered by Statuspal.io</a>
  </div>
</footer>

{% include 'shared/_modal' %}

<script>
  window.UPTIME_COLOR_MAJOR = '{{ design.status_major_color }}';
  window.UPTIME_COLOR_MINOR = '{{ design.status_minor_color }}';
  window.UPTIME_COLOR_OK = '{{ design.status_ok_color }}';
</script>
