<style>
  /* basic styles */
  a {
    color: {% theme_color 'link_color' %};
  }
  .service-status .service-status--toggle-children {
    color: {% theme_color 'link_color' %};
    border-color: {% theme_color 'link_color' %};
  }
  .header {
    background: linear-gradient(to right, {% theme_color 'header_bg_color1' %}, {% theme_color 'header_bg_color2' %});
  }
  .header a {
    color: {% theme_color 'header_fg_color' %};
  }
  h1.incident-title, .incidents-table a {
    display: inline;
    color: {% theme_color 'incident_header_color' %};
  }

  /* system status colors */

  .system-status.type-none { background: {% theme_color 'status_ok_color' %}; }
  .system-status.type-scheduled { background: {% theme_color 'status_maintenance_color' %}; }
  .system-status.type-minor { background: {% theme_color 'status_minor_color' %}; }
  .system-status.type-major { background: {% theme_color 'status_major_color' %}; }

  /* service status colors */

  .status-type-major > .service-status--info .service-status--status,
  .status-type-major > .service-status--info .service-status--icon {
    color: {% theme_color 'status_major_color' %};
  }
  .status-type-minor > .service-status--info .service-status--status,
  .status-type-minor > .service-status--info .service-status--icon {
    color: {% theme_color 'status_minor_color' %};
  }
  .status-type-scheduled > .service-status--info .service-status--status,
  .status-type-scheduled > .service-status--info .service-status--icon {
    color: {% theme_color 'status_maintenance_color' %};
  }
  .status-type-none > .service-status--info .service-status--status,
  .status-type-none > .service-status--info .service-status--icon {
    color: {% theme_color 'status_ok_color' %};
  }

  /* left border colors */

  .service-status.status-type-major { border-left-color: {% theme_color 'status_major_color' %}; }
  .service-status.status-type-minor { border-left-color: {% theme_color 'status_minor_color' %}; }
  .service-status.status-type-scheduled { border-left-color: {% theme_color 'status_maintenance_color' %}; }
  .service-status.status-type-none { border-left-color: {% theme_color 'status_ok_color' %}; }

  /* status page's incident per status colors */

  .status-type-major .status-column { background: {% theme_color 'status_major_color' %}; }
  .status-type-minor .status-column { background: {% theme_color 'status_minor_color' %}; }
  .status-type-scheduled .status-column { background: {% theme_color 'status_maintenance_color' %}; }
  .status-type-none .status-column { background: {% theme_color 'status_ok_color' %}; }

  /* incident time elapsed colors */

  .incident--type-name-tag.status-type-major {
    border-color: {% theme_color 'status_major_color' %};
    color: {% theme_color 'status_major_color' %}
  }
  .incident--type-name-tag.status-type-minor {
    border-color: {% theme_color 'status_minor_color' %};
    color: {% theme_color 'status_minor_color' %}
  }
  .incident--type-name-tag.status-type-scheduled {
    border-color: {% theme_color 'status_maintenance_color' %};
    color: {% theme_color 'status_maintenance_color' %}
  }
  .incident--type-name-tag.status-type-none {
    border-color: {% theme_color 'status_ok_color' %};
    color: {% theme_color 'status_ok_color' %}
  }
</style>

<div class="header">
  <div class="container">
    <div class="brand-name-container">
      {% if design.logo %}
        <a href="{{ home_url | url }}" class="brand-name">
          <img src="{{ design.logo }}" alt="{{ name }} Logo" style="height: 30px">
        </a>
      {% endif %}
      <a href="{{ home_url | url }}" class="brand-name">
        {{ header_logo_text }}
      </a>
    </div>

    <!-- multiple ORs not working properly :/ -->
    {% if plan != "free" and subscribers_enabled %}
      <a href="#" class="subscribe">{% t 'subscribe_to_updates_1' %}<span class="hidden-sm"> {% t 'subscribe_to_updates_2' %}</span></a>
    {% else %}
      {% if slack_subscriptions_enabled %}
        <a href="#" class="subscribe">{% t 'subscribe_to_updates_1' %}<span class="hidden-sm"> {% t 'subscribe_to_updates_2' %}</span></a>
      {% else %}
        {% if design.twitter_public_screen_name %}
          <a href="#" class="subscribe">{% t 'subscribe_to_updates_1' %}<span class="hidden-sm"> {% t 'subscribe_to_updates_2' %}</span></a>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>

{% if info %}<p class="alert alert-info" role="alert">{{ info }}</p>{% endif %}
{% if error %}<p class="alert alert-danger" role="alert">{{ error }}</p>{% endif %}
