<div class="modal subscribe-modal">
  <div class="modal-header">
    <h3>{% t 'subscribe_modal.title' %}</h3>
  </div>
  <div class="modal-body">
    {% if plan != "free" and subscribers_enabled %}
    <form action="{{ subscribe_url }}" method="post" class="row">
      <input type="hidden" value="{{ token }}" name="_csrf_token"/>
      <div class="form-group">
        <div class="left">
          <input type="email" name="subscription[email]" required autofocus="true" placeholder="your@email.com">
        </div>
        <div class="right">
          <input type="submit" value="{% t 'subscribe_modal.button' %}">
        </div>
      </div>
      <label class="agree">
        <input type="checkbox" required="required"> {% t 'subscribe_modal.agree_checkbox' %}
      </label>
    </form>
    {% endif %}
    {% if slack_subscriptions_enabled %}
    <div class="row slack-subscribe">
      <h4>{% t 'subscribe_modal.slack_subscribe' %}</h4>
      <a href="{{ js_base_url }}auth/slack/new?status_page={{ subdomain }}&lang={{ locale }}">
        <img alt="Add to Slack" height="40" width="139"
          src="https://platform.slack-edge.com/img/add_to_slack.png"
          srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
      </a>
    </div>
    {% endif %}
    {% if design.twitter_public_screen_name %}
    <div class="row twitter-handle">
      {% t 'subscribe_modal.twitter_follow' %}:
      <b>
        <a href="http://twitter.com/{{ design.twitter_public_screen_name }}" target="_blank">@{{ design.twitter_public_screen_name }}</a>
      </b>
    </div>
    {% endif %}
  </div>
</div>
<div class="modal-backdrop"></div>
